*.apk
*.ap_

lint

*.dex

*.class

bin/
gen/
classes/
gen-external-apklibs/

target

local.properties

.classpath
.project
.metadata
.settings

.idea
*.iml

Thumbs.db

*.swp

*.bak

.gradle
build/

.navigation
captures